<style>
    /* reset everything to the default box model */
    *, :before, :after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    }

    /* set a border-box model only to elements that need it */
    .form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
    .container,
    .container-fluid,
    .row,
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
</style>
<div class="row">
    <h1 class="page-header">
        Customer Management
    </h1>
    <form name="customerForm" ng-submit="createCustomer()" class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="contactName">Contact Name:</label>
            <div class="col-sm-4">
                <input id="contactName" type="text" ng-model="customer.contactName" placeholder="Enter Company Contact Name" class="form-control" />
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="companyName">Company Name:</label>
            <div class="col-sm-4">
                <input id="companyName" type="text" ng-model="customer.companyName" placeholder="Enter Company Name" class="form-control" />
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="addressStreet1">Address 1:</label>
            <div class="col-sm-4">
                <input id="addressStreet1" type="text" ng-model="customer.addressStreet1" placeholder="Enter Street Address" class="form-control"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="addressStreet2">Address 2:</label>
            <div class="col-sm-4">
                <input id="addressStreet2" type="text" ng-model="customer.addressStreet2" placeholder="Optional Additional Street Address" class="form-control" />
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="city">City:</label>
            <div class="col-sm-4">
                <input id="city" type="text" ng-model="customer.city" class="form-control" placeholder="Enter City"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="state">State:</label>
            <div class="col-sm-4">
                <select kendo-combo-box id="state" ng-model="customer.state" data-placeholder="'Choose State'" class="form-control">
                    <option value=""></option>
                    <option ng-repeat="state in states" value="{{state.value}}">{{state.display}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="zip">Zip:</label>
            <div class="col-sm-4">
                <input id="zip" kendo-masked-text-box raw-mask="customer.zip" k-mask="'99999-0000'" k-prompt-char="' '" class="form-control"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="phone1">Phone 1:</label>
            <div class="col-sm-4">
                <input id="phone1" kendo-masked-text-box raw-mask="customer.phone1" k-mask="'(999) 000-0000'" k-prompt-char="' '" class="form-control" />
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="phone2">Phone 2:</label>
            <div class="col-sm-4">
                <input id="phone2" kendo-masked-text-box raw-mask="customer.phone2" k-mask="'(999) 000-0000'" k-prompt-char="' '" class="form-control"/>
            </div>
        </div>
        <div class="form-group form-group-lg" ng-class="{ 'has-error': customerForm.email.$invalid }">
            <label class="col-sm-2 control-label" for="email">Email:</label>
            <div class="col-sm-4">
                <input id="email" name="email" type="email" ng-model="customer.email" class="form-control"/>
            </div>
            <div role="alert">
                <span class="error" ng-show="customerForm.email.$error.email">
                    Not a valid email!
                </span>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <div class="col-sm-6">
                <button class="btn btn-success pull-right" type="submit">Create Customer</button>
            </div>
        </div>

        <div id="customerEditConfirmDialog"></div>
        <script type="text/ng-template" id="customerEditConfirmationDialogContent">
            <p>#= errorMessage #, would you like to edit it?</p>
            <div class="text-center">
                <button class="btn btn-warning">Yes</button>
                <button class="btn btn-warning">No</button>
            </div>
        </script>
    </form>
</div>

