<div class="row">
    <h1 class="page-header">
        Customer Management
    </h1>
    <form name="customerForm" ng-submit="createCustomer()" class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="contactName">Contact Name:</label>
            <div class="col-sm-4">
                <input id="contactName" type="text" ng-model="customer.contactName" class="form-control" placeholder="Enter Company Contact Name"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="companyName">Company Name:</label>
            <div class="col-sm-4">
                <input id="companyName" type="text" ng-model="customer.companyName" class="form-control" placeholder="Enter Company Name"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="addressStreet1">Address 1:</label>
            <div class="col-sm-4">
                <input id="addressStreet1" type="text" ng-model="customer.addressStreet1" class="form-control" placeholder="Enter Street Address"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="addressStreet2">Address 2:</label>
            <div class="col-sm-4">
                <input id="addressStreet2" type="text" ng-model="customer.addressStreet2" class="form-control" placeholder="Optional Additional Street Address"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="city">City:</label>
            <div class="col-sm-4">
                <input id="city" type="text" ng-model="customer.city" class="form-control" placeholder="Enter City"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="state">State:</label>
            <div class="col-sm-4">
                <select ui-select2 id="state" ng-model="customer.state" data-placeholder="Choose State" style="width: 100%">
                    <option value=""></option>
                    <option ng-repeat="state in states" value="{{state.value}}">{{state.display}}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="zip">Zip:</label>
            <div class="col-sm-4">
                <input id="zip" type="text" ng-model="customer.zip" ui-mask="99999" class="form-control"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="phone1">Phone 1:</label>
            <div class="col-sm-4">
                <input id="phone1" type="text" ng-model="customer.phone1" ui-mask="(999) 999-9999" class="form-control"/>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="phone2">Phone 2:</label>
            <div class="col-sm-4">
                <input id="phone2" type="text" ng-model="customer.phone2" ui-mask="(999) 999-9999" class="form-control"/>
            </div>
        </div>
        <div class="form-group form-group-lg" ng-class="{ 'has-error': customerForm.email.$invalid }">
            <label class="col-sm-2 control-label" for="email">Email:</label>
            <div class="col-sm-4">
                <input id="email" name="email" type="email" ng-model="customer.email" class="form-control"/>
            </div>
            <div role="alert">
                <span class="error" ng-show="customerForm.email.$error.email">
                    Not a valid email!
                </span>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <div class="col-sm-6">
                <button class="btn btn-success pull-right" type="submit">Create Customer</button>
            </div>
        </div>
    </form>
</div>

