<h1 class="page-header">Customer Goals</h1>

<form name="proposalSessionForm" ng-submit="createProposalSession()" class="form-horizontal">
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="contactName">Contact Name:</label>
        <div class="col-sm-4">
            <input id="contactName" type="text" ng-model="proposalSession.customerGoal.contactName" ng-disabled="true" class="form-control" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="companyName">Company Name:</label>
        <div class="col-sm-4">
            <input kendo-auto-complete id="companyName"
                   ng-model="proposalSession.customerGoal.companyName"
                   k-options="customerAutoComplete" class="form-control" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="currentValuation">Current Valuation:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="currentValuation" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.currentValuation" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-5 control-label"><h4>Annual Revenue Goals</h4></label>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="revenueGoalYear1">Year 1:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="revenueGoalYear1" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.revenueGoalYear1" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="revenueGoalYear2">Year 2:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="revenueGoalYear2" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.revenueGoalYear2" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="revenueGoalYear3">Year 3:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="revenueGoalYear3" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.revenueGoalYear3" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="revenueGoalYear4">Year 4:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="revenueGoalYear4" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.revenueGoalYear4" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="revenueGoalYear5">Year 5:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="revenueGoalYear5" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.revenueGoalYear5" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="upfrontFees">Upfront Fees:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="upfrontFees" k-options="kendoNumericTextBoxOptions" k-ng-model="proposalSession.customerGoal.upfrontFees" style="width: 100%; height: 100%;" />
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="upfrontFees">Lag Time:</label>
        <div class="col-sm-4">
            <input kendo-numeric-text-box id="lagTime" k-options="lagTimeTextBoxOptions" k-ng-model="proposalSession.customerGoal.lagTime" style="width: 100%; height: 100%;" />
        </div>
    </div>
</form>
